# OPAL specific
opal_test_keys/*
.env
opal-example-policy-repo/*
data/
OPAL_DATASOURCE_TOKEN.tkn
OPAL_CLIENT_TOKEN.tkn

# Temporary and Python cache files
**/*.pyc
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
new_pytest_env/temp

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Pipenv
#Pipfile.lock

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Editors
.vscode/
.idea
*.iml

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
docs/_build/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# System files
.DS_Store
pytest_6dbc.env
tests/pytest_1a09.env
