idna<3,>=2.5
typer
aiofiles
aiohttp
broadcaster[postgres]
colorama
fastapi==0.65.2
fastapi_websocket_pubsub>=0.1.19
fastapi_websocket_rpc>=0.1.20
GitPython
gunicorn
ipython
loguru==0.5.3
psutil==5.8.0
pydantic[email]
pyjwt[crypto]==2.1.0
python-decouple
tenacity==6.3.1
typing-extensions
uvicorn[standard]
websockets==9.1
rook