aiofiles
aiohttp
broadcaster[postgres]
colorama
fastapi_websocket_pubsub>=0.1.18
fastapi_websocket_rpc>=0.1.18
fastapi==0.62.0
GitPython
gunicorn
ipython
loguru==0.5.3
psutil==5.8.0
pydantic[email]
pyjwt[crypto]
python-decouple
starlette==0.13.6
tenacity==6.3.1
typing-extensions
uvicorn[standard]
websockets
typer
